In [30]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Introduction

Why choose this years what do I want to explore etc

## Gather Data

In [29]:
# create data frames from csv files
df_2008 = pd.read_csv('2008.csv')

In [3]:
# create data frames from csv files
df_1998 = pd.read_csv('1998.csv')

In [4]:
# create data frames from csv files
df_2004 = pd.read_csv('2004.csv')

## Assess Data

In [5]:
# inspect data
df_2008.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [6]:
# inspect data
df_1998.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1998,1,17,6,715.0,715,840.0,840,WN,76,...,3,5,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1998,1,18,7,715.0,715,830.0,840,WN,76,...,2,6,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1998,1,19,1,715.0,715,831.0,840,WN,76,...,3,5,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1998,1,20,2,715.0,715,836.0,840,WN,76,...,3,12,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1998,1,21,3,715.0,715,836.0,840,WN,76,...,3,6,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
# inspect data
df_2004.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2004,1,12,1,623.0,630,901.0,915,UA,462,...,7,11,0,NaN,0,0,0,0,0,0
1,2004,1,13,2,621.0,630,911.0,915,UA,462,...,16,16,0,NaN,0,0,0,0,0,0
2,2004,1,14,3,633.0,630,920.0,915,UA,462,...,4,15,0,NaN,0,0,0,0,0,0
3,2004,1,15,4,627.0,630,859.0,915,UA,462,...,4,10,0,NaN,0,0,0,0,0,0
4,2004,1,16,5,635.0,630,918.0,915,UA,462,...,3,13,0,NaN,0,0,0,0,0,0

In [8]:
# inspect data
df_1998.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5384721 entries, 0 to 5384720
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               int64
TaxiOut              int64
Cancelled            int64
CancellationCode     float64
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(13), int64(12), object(4)
memory usage: 1.2+ GB

In [9]:
# inspect data
df_2004.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129270 entries, 0 to 7129269
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               int64
TaxiOut              int64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         int64
WeatherDelay         int64
NASDelay             int64
SecurityDelay        int64
LateAircraftDelay    int64
dtypes: float64(6), int64(18), object(5)
memory usage: 1.5+ GB

In [10]:
# inspect data
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

**Observations**

- 2004 CRSElapsedTime int => float
- 2008 TaxiIn float => int
- 2008 TaxiOut float => int
- 1998 Cancellation Code float => object
- 2004 Carrier Delay int => float
- 2004 Weather Delay int => float
- 2004 NASDelay int => float
- 2004 SecurityDelay int => float
- 2004 LateAircraft Delay int => float

In [12]:
# inspect data
df_1998.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               144509
CRSDepTime                 0
ArrTime               157670
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
ActualElapsedTime     157670
CRSElapsedTime          2386
AirTime               157670
ArrDelay              157670
DepDelay              144509
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     5384721
Diverted                   0
CarrierDelay         5384721
WeatherDelay         5384721
NASDelay             5384721
SecurityDelay        5384721
LateAircraftDelay    5384721
dtype: int64

In [13]:
# inspect data
df_2004.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               127757
CRSDepTime                 0
ArrTime               141541
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                  127
ActualElapsedTime     141541
CRSElapsedTime             0
AirTime               141541
ArrDelay              141541
DepDelay              127757
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
CancellationCode     7001506
Diverted                   0
CarrierDelay               0
WeatherDelay               0
NASDelay                   0
SecurityDelay              0
LateAircraftDelay          0
dtype: int64

In [14]:
# inspect data
df_2008.isna().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               136246
CRSDepTime                 0
ArrTime               151649
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                83365
ActualElapsedTime     154699
CRSElapsedTime           844
AirTime               154699
ArrDelay              154699
DepDelay              136246
Origin                     0
Dest                       0
Distance                   0
TaxiIn                151649
TaxiOut               137058
Cancelled                  0
CancellationCode     6872294
Diverted                   0
CarrierDelay         5484993
WeatherDelay         5484993
NASDelay             5484993
SecurityDelay        5484993
LateAircraftDelay    5484993
dtype: int64

# **Observations**

- Delete column Departure Time too many NaN values and variable not needed
- Delete column Arrival Time too many Nan values and variable not needed
- Delete column ActualElapsedTime too many NaN values and variable not needed
- Delete column CRSElapsedTime variable not needed
- Delete column Cancellation Code too many NaN values and variable not needed
- 2008 Fillna Delay columns

In [11]:
# inspect data
df_1998['CancellationCode'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CancellationCode, dtype: float64

## Clean Data

- 2008 TaxiIn float => int
- 2008 TaxiOut float => int
- 2004 Carrier Delay int => float
- 2004 Weather Delay int => float
- 2004 NASDelay int => float
- 2004 SecurityDelay int => float
- 2004 LateAircraft Delay int => float
- Delete column Departure Time too many NaN values and variable not needed
- Delete column Arrival Time too many Nan values and variable not needed
- Delete column ActualElapsedTime too many NaN values and variable not needed
- Delete column CRSElapsedTime variable not needed
- Delete column Cancellation Code too many NaN values and variable not needed
- 2008 Fillna Delay columns

**Define**

**Delete 5 columns from each of the 3 data frames**

**Code**

In [31]:
# drop columns first from single data frames
df_1998.drop(['DepTime', 'ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'CancellationCode' ], axis=1, inplace=True)

In [32]:
# drop columns first from single data frames
df_2004.drop(['DepTime', 'ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'CancellationCode' ], axis=1, inplace=True)

In [33]:
# drop columns first from single data frames
df_2008.drop(['DepTime', 'ArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'CancellationCode' ], axis=1, inplace=True)

**Test**

In [34]:
# inspect data
df_2008.head()

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1955,2225,WN,335,N712SW,116.0,...,810,4.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,735,1000,WN,3231,N772SW,113.0,...,810,5.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,620,750,WN,448,N428WN,76.0,...,515,3.0,17.0,0,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,930,1100,WN,1746,N612SW,78.0,...,515,3.0,7.0,0,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1755,1925,WN,3920,N464WN,77.0,...,515,3.0,10.0,0,0,2.0,0.0,0.0,0.0,32.0

**Define**

**Dropna and cast values for specified columns in specified dataframes**

**Code**

In [37]:
# change dtype 2008 TaxiIn step 1
df_2008.dropna(subset = ['TaxiIn'], inplace=True)

In [46]:
# change dtype 2008 TaxiIn step 2
df_2008['TaxiIn'] = df_2008['TaxiIn'].astype(int, inplace=True)

**Test**

In [40]:
# inspect data
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6858079 entries, 0 to 7009727
Data columns (total 24 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
CRSDepTime           int64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               int64
TaxiOut              float64
Cancelled            int64
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(9), int64(11), object(4)
memory usage: 1.3+ GB

**Code**

In [41]:
# change dtype 2008 TaxiIn step 1
df_2008.dropna(subset = ['TaxiOut'], inplace=True)

In [44]:
# change dtype 2008 TaxiIn step 2
df_2008['TaxiOut'] = df_2008['TaxiOut'].astype(int, inplace=True)

**Test**

In [45]:
# inspect data
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6858079 entries, 0 to 7009727
Data columns (total 24 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
CRSDepTime           int64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               int64
TaxiOut              int64
Cancelled            int64
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(8), int64(12), object(4)
memory usage: 1.3+ GB

**Code**

In [47]:
# cast values of 2004 delay columns to float
df_2004[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']] = df_2004[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']].astype(float, inplace=True)

**Test**

In [48]:
# inspect data
df_2004.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129270 entries, 0 to 7129269
Data columns (total 24 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
CRSDepTime           int64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               int64
TaxiOut              int64
Cancelled            int64
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(8), int64(12), object(4)
memory usage: 1.3+ GB

**Define**

**Fillna delay columns in 2008 dataframe**

**Code**

In [49]:
# fillna delay columns with 0
values = {'CarrierDelay': 0, 'WeatherDelay': 0, 'NASDelay' : 0, 'SecurityDelay' : 0, 'LateAircraftDelay' : 0}
df_2008.fillna(value=values, inplace=True)

**Test**

In [50]:
# NaN values in data frame 2008
df_2008.isnull().sum()

Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
CRSDepTime              0
CRSArrTime              0
UniqueCarrier           0
FlightNum               0
TailNum                 5
AirTime              3050
ArrDelay             3050
DepDelay                0
Origin                  0
Dest                    0
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [51]:
# NaN values in data frame 2004
df_2004.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
CRSDepTime                0
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                 127
AirTime              141541
ArrDelay             141541
DepDelay             127757
Origin                    0
Dest                      0
Distance                  0
TaxiIn                    0
TaxiOut                   0
Cancelled                 0
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
dtype: int64

In [52]:
# NaN values in data frame 1998
df_1998.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
CRSDepTime                 0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
AirTime               157670
ArrDelay              157670
DepDelay              144509
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
Diverted                   0
CarrierDelay         5384721
WeatherDelay         5384721
NASDelay             5384721
SecurityDelay        5384721
LateAircraftDelay    5384721
dtype: int64

**Define**

**Concatenate Dataframes and drop NaN values except delay columns 1998**

**Code**

In [53]:
# concat cleaned data frames
df_cct = pd.concat([df_1998, df_2004, df_2008], ignore_index=True)

**Test**

In [60]:
# inspect data
df_cct.head()

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1998,1,17,6,715,840,WN,76,N520,137.0,...,872,3,5,0,0,NaN,NaN,NaN,NaN,NaN
1,1998,1,18,7,715,840,WN,76,N302,127.0,...,872,2,6,0,0,NaN,NaN,NaN,NaN,NaN
2,1998,1,19,1,715,840,WN,76,N315,128.0,...,872,3,5,0,0,NaN,NaN,NaN,NaN,NaN
3,1998,1,20,2,715,840,WN,76,N372,126.0,...,872,3,12,0,0,NaN,NaN,NaN,NaN,NaN
4,1998,1,21,3,715,840,WN,76,N367,132.0,...,872,3,6,0,0,NaN,NaN,NaN,NaN,NaN

In [61]:
# inspect data
df_cct.tail()

,Year,Month,DayofMonth,DayOfWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
19372065,2008,12,13,6,959,1150,DL,1636,N646DL,71.0,...,533,45,45,0,0,0.0,0.0,0.0,0.0,0.0
19372066,2008,12,13,6,835,1023,DL,1637,N908DL,139.0,...,874,23,23,0,0,0.0,0.0,0.0,0.0,0.0
19372067,2008,12,13,6,700,856,DL,1638,N671DN,85.0,...,545,12,12,0,0,0.0,0.0,0.0,0.0,0.0
19372068,2008,12,13,6,1240,1437,DL,1639,N646DL,89.0,...,533,13,13,0,0,0.0,0.0,0.0,0.0,0.0
19372069,2008,12,13,6,1103,1418,DL,1641,N908DL,104.0,...,874,11,11,0,0,0.0,0.0,0.0,0.0,0.0

In [63]:
# inspect data
df_cct.shape

(19069804, 24)

**Code**

In [57]:
# dropna except delay columns
df_cct.dropna(subset = ['TailNum', 'AirTime', 'ArrDelay', 'DepDelay'], inplace=True)

**Test**

In [58]:
# inspect data
df_cct.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
CRSDepTime                 0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                    0
AirTime                    0
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn                     0
TaxiOut                    0
Cancelled                  0
Diverted                   0
CarrierDelay         5227051
WeatherDelay         5227051
NASDelay             5227051
SecurityDelay        5227051
LateAircraftDelay    5227051
dtype: int64

## EDA

**Questions**

- 1)  How did arrival delay change over the years?
- 2)  How did departure delay change over the years?
- 3)  How did early arrivals change over the years?
- 4)  Weekdays with biggest delays? In general - difference over years
- 5)  Time of day with biggest delay? In general - difference over years
- 6)  Airport of origin with biggest delays? In general - difference over years
- 7)  Destination airport with biggest delays? In general - difference over years
- 8)  Is distance associated with delays? In general - difference over years
- 9)  Average cancellations per year?
- 10) Which carrier has biggest delays? In general - difference over years
- 11) Month with biggest delays? In general - difference over years
- 12) Airtime versus distance
- 13) Differences in reasons for delays between 2004 and 2008